@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');

body {
  color: black;
  width: 60%;
  margin: 5% auto;
  font-family: 'Minion Pro', 'Source Serif Pro', serif;
}

a, a:visited {
  color: blue;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
}

blockquote {
  font-size: 12px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  padding: 0 5px;
  text-align: justify;
}

ol, ul {
  font-size: 14px;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 14px;
}

hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 3px;
}

@media only screen and (max-width: 600px) {
  body {
    width: 90%;
  }
  blockquote {
    font-size: 14px;
  }
}
