@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  color: black;
  width: 60%;
  margin: 5% auto;
  font-family: 'Minion Pro', 'Source Serif Pro', serif;
}

img {
  border: 1px solid black;
  display: block;
  width: 40%;
  margin: 10px auto;
}

a, a:visited {
  color: blue;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
}

blockquote {
  font-size: 12px;
  padding: 0 5px;
  text-align: justify;
}

ol, ul {
  font-size: 14px;
}

ol ol li {
  list-style-type: lower-latin;
}

ol ol ol li {
  list-style-type: upper-roman;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 23px;
  font-weight: normal;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 14px;
}

hr {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  margin: 3px;
}

table {
  margin: 0 auto;
  font-size: 14px;
}

td {
  width: 33%;
  text-align: center;
}

code {
  font-size: 12px;
  color: grey;
  font-family: 'Inconsolata', monospace;
}

caption {
  text-decoration: underline;
  margin-bottom: 1em;
}

#title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.confused {
  color: maroon;
}

@media only screen and (max-width: 800px) {
  body {
    width: 90%;
  }
}
