body {
  background: #e7eaff;
  width: 60%;
  margin: 5% auto;
  font-family: sans-serif;
}

p {
  margin-bottom: 15px;
  font-size: 14px;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 22px;
  font-style: italic;
}

h2 {
  font-size: 18px;
}
